{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div style="width: 50%;text-align: center;margin: auto;">
<form method="GET">
  <div class="form-row">
      <div class="form-group col-12">
          <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="code" placeholder="Your code" disabled value="{{request.user.username}}" />
              <span class="input-group-append">
                  {% comment %} <div class="input-group-text bg-transparent">
                      <i class="fa fa-search"></i>
                  </div> {% endcomment %}
              </span>
          </div>
      </div>        
  </div>
  <br>
  <div class="form-row">
      <div class="form-group col-12">
          <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="month" placeholder="Enter Month" />
              <span class="input-group-append">
                  {% comment %} <div class="input-group-text bg-transparent">
                      <i class="fa fa-search"></i>
                  </div> {% endcomment %}
              </span>
          </div>
      </div>        
  </div>
  <br>
  <div class="form-row">
      <div class="form-group col-12">
          <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="year" placeholder="Enter Year" />
              <span class="input-group-append">
                  
              </span>
          </div>
      </div>        
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Search</button> &nbsp;
  &nbsp;<a href="/" class="btn btn-danger">Clear Filter</a>
</form>
</div>
<br>
<!-- ---------------------------------------------- -->
{% for person in person %}
<div class="card">
  <div class="title">
    <p class="heading">MANAGER X</p>
    <h3 class="desc">شهر {{person.month}} / {{person.year}}</h3>
  </div>
  <div class="wrapper">
    <div class="color anti-flash-white">
      Code
      <span class="hex">{{person.code}}</span>
    </div>
    <div class="color night-rider">
      الاسم
      <span class="hex">{{person.name}}</span>
    </div>
    <div class="color anti-flash-white">
      اساسي
      <span class="hex">{{person.basic}}</span>
    </div>
    <div class="color night-rider">
      بدل طبيعة 
      <span class="hex">{{person.ntur_allow}}</span>
    </div>
    <div class="color anti-flash-white">
      بدل مواصلات 
      <span class="hex">{{person.trnsport_allow}}</span>
    </div>
    <div class="color night-rider">
      بدل وجبة 
      <span class="hex">{{person.meal_allow}}</span>
    </div>
    <div class="color anti-flash-white">
      بدل تليفون 
      <span class="hex">{{person.phone_allow}}</span>
    </div>
    <div class="color night-rider">
      الاجمالي
      <span class="hex">{{person.total}}</span>
    </div>
  </div>
  <hr>
  <div class="wrapper">
    <div class="color anti-flash-white">
      مكافات
      <span class="hex">{{person.rwrd}}</span>
    </div>
    <div class="color night-rider">
      بيان مكأفات  
      <span class="hex">{{person.rwrd_details}}</span>
    </div>
    <div class="color anti-flash-white">
      اضافي
      <span class="hex">{{person.over_time}}</span>
    </div>
    <div class="color night-rider">
      عدد ساعات الاضافى 
      <span class="hex">{{person.hours}}</span>
    </div>
    <div class="color anti-flash-white">
      بدلات اخري
      <span class="hex">{{person.special_allow}}</span>
    </div>
    <div class="color night-rider">
      بيان البدلات الاخري 
      <span class="hex">{{person.special_details}}</span>
    </div>
    <div class="color anti-flash-white">
      اجمالي الاستحقاقات
      <span class="hex">{{person.total_attidtions}}</span>
    </div>
    <div class="color night-rider">
      جزاءات
      <span class="hex">{{person.penalties}}</span>
    </div>
    <div class="color anti-flash-white">
      بيان الجزاءات 
      <span class="hex">{{person.pnlts_details}}</span>
    </div>
    <div class="color night-rider">
      غيابات
      <span class="hex">{{person.absences}}</span>
    </div>
    <div class="color anti-flash-white">
      عدد ايام الغياب
      <span class="hex">{{person.absences_day}}</span>
    </div>
    <div class="color night-rider">
      تأمينات إجتماعية 
      <span class="hex">{{person.insurances}}</span>
    </div>
    <div class="color anti-flash-white">
      ضريبة دخل
      <span class="hex">{{person.income_tax}}</span>
    </div>
    <div class="color night-rider">
      خدمة طبيه
      <span class="hex">{{person.medical_service}}</span>
    </div>
    <div class="color anti-flash-white">
      سلف
      <span class="hex">{{person.loans}}</span>
    </div>
    <div class="color night-rider">
      خصومات
      <span class="hex">{{person.deductions_hours}}</span>
    </div>
    <div class="color anti-flash-white">
      عدد ساعات المخصومة 
      <span class="hex">{{person.detail_hours}}</span>
    </div>
    <div class="color night-rider">
      سيارة
      <span class="hex">{{person.car_deductions}}</span>
    </div>
    <div class="color anti-flash-white">
      اخري
      <span class="hex">{{person.another_deductions}}</span>
    </div>
    <div class="color night-rider">
      اجمالي الاستقطاعات 
      <span class="hex">{{person.total_deductions}}</span>
    </div>
  
  </div>
  <hr>
  <div class="wrapper">
    <div class="border">صافي الراتب المستحق &nbsp; <span>{{person.net_salary}}</span></div>
  </div>
</div>
<br>
<hr style="border: solid aqua 3px;">
{% endfor %}

{% endblock %}

